@model PH.Web.Models.HashResult
@{
    if (string.IsNullOrEmpty(Model.PlainText))
    {
        ViewData["Title"] = $"{Model.AlgorithmName}";
    }
    else
    {
        ViewData["Title"] = $"{Model.AlgorithmName} hash of {Model.PlainText.Left(20)}";
    }
}

@section head
{
    <link rel="alternate" hreflang="x-default" href="https://passwordhashing.com/@(Model.AlgorithmName)" />
    <link rel="canonical" href="https://passwordhashing.com/@(Model.AlgorithmName)" />
    @if (!string.IsNullOrWhiteSpace(Model.MetaDescription))
    {
        <meta name="description" content="@Model.MetaDescription" />
    }
    @if (!string.IsNullOrWhiteSpace(Model.MetaKeywords))
    {
        <meta name="keywords" content="@Model.MetaKeywords" />
    }
}

<div class="row hashing-row">
    <div class="col-md-6">
        <h1>@Model.AlgorithmName Hash Generator</h1>
        <p>Fill in the plain text and you'll get a @Model.AlgorithmName hash back:</p>
        <form method="get">
            <div class="form-group">
                <label for="plainText">Plain Text</label>
                <input type="text" class="form-control" id="plainText" name="plainText" placeholder="Plain Text" value="@Model.PlainText">
            </div>
            @if (!string.IsNullOrEmpty(Model.Hash))
            {
                <div class="form-group">
                    <label>@Model.AlgorithmName Hash</label>
                    <pre>@Model.Hash</pre>
                </div>
            }
            <button type="submit" class="btn btn-primary">Generate Hash</button>
        </form>
    </div>
    <div class="col-md-6">
        <h2>Recent @Model.AlgorithmName Hash Requests</h2>
        <ul>
            @foreach (var request in Model.RecentRequests)
            {
                <li><a href="/@(Model.AlgorithmName)?plainText=@request">@request</a></li>
            }
        </ul>
    </div>
</div>

@if (!string.IsNullOrWhiteSpace(Model.HashDescription))
{
    <div class="row hashing-row">
        <div class="col-md-12">
            @Html.Raw(Model.HashDescription)
        </div>
    </div>
}